body {
    background: url("1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color : aliceblue;
}

.card {
    width: 50%;
    align-items: center;
}